Crypto Client/Connected Services/CryptoService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CryptoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Crypto_Service" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICryptoService_SetKey_InputMessage">
    <wsdl:part name="parameters" element="tns:SetKey" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_SetKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_GenerateRandomKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRandomKey" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_GenerateRandomKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRandomKeyResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_SetIV_InputMessage">
    <wsdl:part name="parameters" element="tns:SetIV" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_SetIV_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetIVResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_GenerateRandomIV_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRandomIV" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_GenerateRandomIV_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRandomIVResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_SetAlgorithmProperties_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAlgorithmProperties" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_SetAlgorithmProperties_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAlgorithmPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_Crypt_InputMessage">
    <wsdl:part name="parameters" element="tns:Crypt" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_Crypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:CryptResponse" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_Decrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:Decrypt" />
  </wsdl:message>
  <wsdl:message name="ICryptoService_Decrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecryptResponse" />
  </wsdl:message>
  <wsdl:portType name="ICryptoService">
    <wsdl:operation name="SetKey">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoService/SetKey" message="tns:ICryptoService_SetKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoService/SetKeyResponse" message="tns:ICryptoService_SetKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateRandomKey">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoService/GenerateRandomKey" message="tns:ICryptoService_GenerateRandomKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoService/GenerateRandomKeyResponse" message="tns:ICryptoService_GenerateRandomKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetIV">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoService/SetIV" message="tns:ICryptoService_SetIV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoService/SetIVResponse" message="tns:ICryptoService_SetIV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateRandomIV">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoService/GenerateRandomIV" message="tns:ICryptoService_GenerateRandomIV_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoService/GenerateRandomIVResponse" message="tns:ICryptoService_GenerateRandomIV_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAlgorithmProperties">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoService/SetAlgorithmProperties" message="tns:ICryptoService_SetAlgorithmProperties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoService/SetAlgorithmPropertiesResponse" message="tns:ICryptoService_SetAlgorithmProperties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Crypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoService/Crypt" message="tns:ICryptoService_Crypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoService/CryptResponse" message="tns:ICryptoService_Crypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICryptoService/Decrypt" message="tns:ICryptoService_Decrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICryptoService/DecryptResponse" message="tns:ICryptoService_Decrypt_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICryptoService" type="tns:ICryptoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetKey">
      <soap:operation soapAction="http://tempuri.org/ICryptoService/SetKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateRandomKey">
      <soap:operation soapAction="http://tempuri.org/ICryptoService/GenerateRandomKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIV">
      <soap:operation soapAction="http://tempuri.org/ICryptoService/SetIV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateRandomIV">
      <soap:operation soapAction="http://tempuri.org/ICryptoService/GenerateRandomIV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAlgorithmProperties">
      <soap:operation soapAction="http://tempuri.org/ICryptoService/SetAlgorithmProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Crypt">
      <soap:operation soapAction="http://tempuri.org/ICryptoService/Crypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <soap:operation soapAction="http://tempuri.org/ICryptoService/Decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CryptoService">
    <wsdl:port name="BasicHttpBinding_ICryptoService" binding="tns:BasicHttpBinding_ICryptoService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Crypto_Service/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>